body {
  background-color: firebrick;
  text-align: center;
}

h1 {
  margin: 20px;
  font-size: 48px;
  font-weight: bolder;
}

p {
  padding: 10px;
}

main {
  background-color: rgba(255, 252, 101, 0.842);
  color: slateblue
}

footer {
  margin-top: 500px;
}
